.boton {
    margin: 47%;
    margin-top: 0;
    margin-bottom: 0;
    
}

.pepe {
    display: flex;
    justify-content: center;
}

.divhome {
    width: 100%;
    justify-content: center;
    margin-left: 40%;
}