.huno {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-style: bold;
    
}

.fotoAlbum{
    display:flex;
    width: 75%;
    padding: 50px;
}

.dive {
    align-items:flex-start;
    padding: 5px;
}

.dive2 {
    padding: 0cm;
    
}